[submodule "TelegramDLL"]
	path = TelegramDLL
	url = https://github.com/Pennywise007/TelegramDLL
[submodule "TelegramNotifier/ext"]
	path = TelegramNotifier/ext
	url = https://github.com/Pennywise007/ext
